<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha!</title>
</head>
<body>
    
    <p>Ol&aacute;&nbsp;<strong>#{nome}</strong>!</p>
    <p>Voc&ecirc; nos comunicou que&nbsp;<span class="il">esqueceu</span>&nbsp;sua&nbsp;<span class="il">senha</span>.</p>
    <p>Sem problemas, basta clicar no link abaixo, que voc&ecirc; poder&aacute; definir outra.</p>
    <p><a title="Criar nova senha." href="#{url}" target="_blank" rel="noopener noreferrer">Criar nova senha.</a></p>
    <p>Este link expira 24 horas ap&oacute;s sua solicita&ccedil;&atilde;o.</p>
    <p>&nbsp;</p>
    <p>Atenciosamente,</p>
    <p><br />ClickFest - Sua festa em um click.</p>

</body>
</html>